@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --bg-color: white;
    --text-color: black;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/Background-opera-speeddials-community-web-simple-backgrounds-1.jpg);
    background-size: cover;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color)
}

hr{
    color: black;
    width: 100%;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}

h1{
    text-align: center;
}

.head{
    font-size: 2rem;
    margin: 1rem;
}

.input-space{
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 2rem;
}

input, select{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input[type=text]{
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
}

input[type=number]{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
}

button{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
}

.output{
    border: 1px solid var(--text-color);
    padding: 2rem;
    margin: 2rem;
}

#output{
    line-height: 2em;
   
}

select{
    height: 2rem;
}

.hiden{
    opacity: 0;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home{
    position: fixed;
    top: 10px;
    left: 15px;
}

.home img{
    width: 10px;
    height: 10px;
    background-color: white;
}

.home img:hover{
    color: blue
}

/* Theme */

.theme{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    background-color: black;
    border: thin solid yellow
}

.gen{
    background-color: hsla(0, 50%, 56%, 1);
    font-size: 1.5rem;
    font-weight: bold;
}


menu{
    display: flex;
    justify-content: space-around;
    width: 50rem;
}

li{
    list-style: none;
}

li a{
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

li a:hover{
    margin: 1rem;
    padding: 1rem;
    background-color: #b4125b;
    border: 1px solid white;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

input[type=date]{
    height: 3rem;
    font-size: 2rem;
}



/* @media screen and (max-width: 1300px) {
   .input{
       display: flex;
       flex-direction: column;
   }
} */